{% extends 'base.html' %}

{% block content %}
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT OTP   ================================= -->
    <div class="card mx-auto" style="max-width: 400px; margin-top:100px; margin: bottom 50px;">
       
        <div class="card-body">  



    {% block includes %}
  
    <form action="#" method="post">
        {% csrf_token %}
        <h2>OTP VERIFICATION:</h2>
      
        <label for="otp">OTP:         </label>
        <input id="otp" type="number" name="otpcode">
        <input type="submit" value="confirm">
    </form>
        </div>
    <br>
    <br>
        {% endblock includes %}
  
    </div>
    {% endblock %}

</section>

